.nav{
    background: #333333;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.nav__link{
    color: white;
}
.nav__link:hover{ 
    color: #acacac;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nickname{
    display: flex;
    flex-direction: column;
}
.user{
    display: flex;
    align-items:center
}
.user img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}