.delButton {
  background-color: red;
  position: absolute;
}
.mybutton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;  
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .mybutton:hover {
    border-color: #646cff;
  }
  .mybutton:focus,
  .mybutton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
